# HPC Cluster Logs
*.out
*.err
*.log

# Large Data Files
*.h5
*.dat
*.textproto
*.bw
*.bam
*.parquet
*.narrowPeak
*.bed
input_data/metadata/GRCh38_gencode_release29_genome_fasta/

# Python / Jupyter Artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/